body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h2 {
    color: #333;
}

form {
    background: white;
    padding: 15px;
    width: 280px;
    margin: auto;
    border: 1px solid #ccc;
}

input, textarea {
    width: 90%;
    padding: 6px;
    margin: 6px;
}

button {
    padding: 6px 10px;
    margin: 5px;
}